* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #571089;
  --primary-light: #f700f7;
  --primary-hover: #ac4ff4;
  --primary-blue: #3f37c9;
  --secondary-color: #0096c7;
  --gray: #3e4152;
  --black: #000814;
  --btn-color: #fafafa;
  --secondary-hover: #00ffff;
  --card-border-color: #9e9eff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --cta-color: #7e17c8;
  --wishlist: #ae2012;
  --shadow-card: 0 0 12px 0 var(--primary-color);
  --shadow-colors: rgba(0, 0, 0, 0.616);
  --secondary-colors: #274156;
  --secondary-active-color: #1e3344;
  --card-color: #001219;
  --filled-green: #2e7d32;
  --light-gray: #d8d8d8;
}

body {
  font-family: "Roboto", sans-serif;
}

.lift-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.lift-generator-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  border: 2px solid var(--black);
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}

label {
  font-size: 2.1rem;
  display: block;
  margin: 0.8rem;
  text-align: center;
}

input {
  width: 30%;
  display: block;
  padding: 1rem;
  margin: 1.25rem auto;
  border-radius: 0.5rem;
  text-align: center;
}

.generate-btn {
  margin: 1.4rem;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  color: var(--btn-color);
  background: var(--primary-hover);
  font-size: 1.8rem;
  opacity: 1;
}

.generate-btn:disabled {
  cursor: none;
  pointer-events: none;
  opacity: 0.65;
}

.error {
  font-size: 1.58rem;
  font-weight: bold;
}

.lift-game-section {
  margin: 1rem 0;
  padding: 1rem;
}

.floor {
  border-bottom: 2px solid var(--card-color);
  padding: 1rem;
  position: relative;
  height: 125px;
}

.flex-sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-size: 1.8rem;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.btn {
  color: var(--bg-code);
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-up {
  margin: 0.4rem;
  background: var(--primary-color);
}

.fa-sharp {
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
}

.btn-down {
  margin: 0.4rem;
  background: var(--cta-color);
}

.lift {
  display: flex;
  width: 12.5rem;
  height: 12.5rem;
  border: 2px solid var(--card-color);
  margin: 0 1.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

#floor-0 {
  display: flex;
  position: absolute;
  left: 10rem;
  bottom: -0.05rem;
}

.left-door {
  background: var(--gray);
  width: 6rem;
  margin-right: 0.05rem;
  border-right: 4px solid var(--card-color);
  border: 2px solid var(--bg-code);
}

.right-door {
  background: var(--gray);
  width: 6rem;
  margin-left: 0.05rem;
  border-left: 4px solid var(--card-color);
  border: 2px solid var(--bg-code);
}

.left-door--animation {
  animation: moveLeftDoor 2.5s ease-in-out;
}

.right-door--animation {
  animation: moveRightDoor 2.5s ease-in-out;
}

.moveLiftUp--animation {
  transition: all 5s;
}

@keyframes moveLeftDoor {
  0% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(-5.5rem)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes moveRightDoor {
  0% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(5.5rem)
  }

  100% {
    transform: translateX(0)
  }
}

@media (max-width: 650px) {
  html {
    font-size: 50%;
  }

  .lift {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
  }

  .floor {
    height: 104px;
  }

  #floor-0 {
    display: flex;
    position: absolute;
    left: 7rem;
    bottom: 0rem;
  }
}